SUPABASE_URL=https://infkmivclooluiavzyxh.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImluZmttaXZjbG9vbHVpYXZ6eXhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0ODU2NjMsImV4cCI6MjA5MjA2MTY2M30.fwhcNiJLHThoN_LeNx__9n22ybsTGBqU99BH--L26jQ
